*{
  margin: 0;
}

.App {
  text-align: center;
}

.app__form {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color:ghostwhite;
  display: flex;
  width: 90%;
  margin: 20px;
}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}

